In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
conn = create_engine('postgresql://username:password@localhost:5432/baseball')

In [18]:
pitcher = 'Justin Verlander'
q = '''
    SELECT MAX(release_speed)
    FROM statcast
    WHERE description='swinging_strike' and player_name=%s;
'''

pd.read_sql_query(q, conn, params=[pitcher])

    max
0  99.8

In [7]:
batted_balls.shape

(638761, 3)

In [32]:
q3 = '''
    SELECT
        launch_angle,
        launch_speed,
        hit_distance_sc,
        COALESCE(atan((hc_x-125.42)/NULLIF((198.27-hc_y), 0))*180/PI()*.75, 67.5) AS spray_angle,
        events,
        hc_x,
        hc_y,
        CASE
            WHEN events IN ('single', 'double', 'triple', 'home_run') THEN 1
            ELSE 0
        END AS hit
    FROM statcast
    WHERE type='X' and game_year=2019 and events NOT IN ('field_error', 'fielders_choice');
'''

batted_balls = pd.read_sql_query(q3, conn, params=[pitcher])
batted_balls.head(15)

,launch_angle,launch_speed,hit_distance_sc,spray_angle,events,hc_x,hc_y,hit
0,-20.7,82.9,NaN,-21.677424,field_out,113.87,177.35,0
1,0.2,94.3,45.0,-14.668336,grounded_into_double_play,110.24,155.54,0
2,26.2,100.2,371.0,-28.399998,home_run,29.02,74.29,1
3,62.9,93.7,175.0,14.817330,field_out,142.94,149.49,0
4,-21.0,98.7,6.0,-10.373508,grounded_into_double_play,113.26,148.88,0
5,-24.1,91.3,4.0,24.013368,field_out,153.89,152.74,0
6,-20.7,82.9,NaN,-27.750970,force_out,106.00,172.50,0
7,-3.0,49.6,20.0,-33.466786,force_out,100.55,173.07,0
8,58.9,84.5,188.0,15.559560,field_out,152.67,126.33,0
9,-29.3,91.7,2.0,-31.124927,field_out,99.94,169.47,0
10,37.6,97.5,362.0,-21.298428,field_out,52.47,63.34,0
11,-5.5,101.4,20.0,24.444436,field_out,155.06,151.91,0
12,22.9,93.9,369.0,-6.191061,field_out,103.02,43.87,0
13,85.7,83.8,26.0,-28.801602,field_out,140.52,217.32,0
14,23.0,101.6,376.0,22.924609,home_run,206.48,61.02,1

In [33]:
q4 = '''
    SELECT
        home_team,
        away_team,
        inning_topbot,
        CASE
            WHEN inning_topbot = 'Bot' THEN away_team
            ELSE home_team
        END AS def_team
    FROM statcast
    WHERE type='X' and game_year=2019 and events NOT IN ('field_error', 'fielders_choice');
'''

batted_balls2 = pd.read_sql_query(q4, conn, params=[pitcher])
batted_balls2.head(15)

   home_team away_team inning_topbot def_team
0        CWS       DET           Bot      DET
1        CWS       DET           Top      CWS
2        CWS       DET           Top      CWS
3        CWS       DET           Top      CWS
4        CWS       DET           Top      CWS
5        CWS       DET           Top      CWS
6        CWS       DET           Bot      DET
7        CWS       DET           Top      CWS
8        CWS       DET           Top      CWS
9        CWS       DET           Top      CWS
10       CWS       DET           Top      CWS
11       CWS       DET           Top      CWS
12       CWS       DET           Bot      DET
13       CWS       DET           Bot      DET
14       CWS       DET           Bot      DET

In [34]:
q4 = '''
    SELECT *
    FROM statcast
    WHERE type='X' and game_year=2019 and events NOT IN ('field_error', 'fielders_choice')
    ORDER BY game_date, game_pk, at_bat_number;
'''

batted_balls2 = pd.read_sql_query(q4, conn, params=[pitcher])
batted_balls2.head(15)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,FF,2019-03-28,96.0,-2.9039,5.2153,Luis Castillo,624428,622491,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
1,FT,2019-03-28,94.2,-2.3500,6.0156,Jameson Taillon,608385,592791,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
2,FT,2019-03-28,95.4,-2.2056,5.9545,Jameson Taillon,458015,592791,double,hit_into_play_no_out,...,0,0,0,0,0,0,0,0,Standard,Standard
3,FF,2019-03-28,95.3,-1.9004,6.1975,Jameson Taillon,553993,592791,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Infield shift,Standard
4,FF,2019-03-28,96.7,-2.5656,5.5528,Luis Castillo,465041,622491,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
5,CH,2019-03-28,86.5,-2.7441,5.1412,Luis Castillo,543776,622491,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Standard,Standard
6,CU,2019-03-28,81.6,-2.0041,6.2605,Jameson Taillon,594988,592791,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Infield shift,Standard
7,CU,2019-03-28,82.1,-1.8622,6.2563,Jameson Taillon,606299,592791,single,hit_into_play_no_out,...,0,0,0,0,0,0,0,0,Standard,Strategic
8,FT,2019-03-28,95.5,-2.2726,6.0865,Jameson Taillon,571466,592791,field_out,hit_into_play,...,0,0,0,0,0,0,0,0,Strategic,Standard
9,SL,2019-03-28,86.7,-2.1332,6.0745,Jameson Taillon,578428,592791,double,hit_into_play_score,...,0,0,0,0,0,0,0,0,Standard,Standard
10,SL,2019-03-28,89.5,-2.1845,6.1599,Jameson Taillon,622491,592791,field_out,hit_into_play,...,1,0,1,0,0,1,1,0,Standard,Standard
11,FF,2019-03-28,96.0,-2.4195,5.4946,Luis Castillo,570481,622491,single,hit_into_play_no_out,...,1,0,0,1,0,1,0,1,Standard,Standard
12,FF,2019-03-28,92.1,-2.7539,5.4126,Luis Castillo,592791,622491,sac_bunt,hit_into_play,...,1,0,0,1,0,1,0,1,Strategic,Strategic
13,CH,2019-03-28,87.1,-2.6360,5.2945,Luis Castillo,466320,622491,field_out,hit_into_play,...,1,0,0,1,0,1,0,1,Infield shift,Standard
14,FF,2019-03-28,95.9,-2.4900,5.3652,Luis Castillo,572816,622491,field_out,hit_into_play,...,1,0,0,1,0,1,0,1,Strategic,Standard

In [59]:
q5 = '''
WITH bballs19 AS
(
    SELECT
        game_date,
        game_pk,
        at_bat_number,
        home_team,
        launch_angle,
        launch_speed,
        hit_distance_sc,
        COALESCE(atan((hc_x-125.42)/NULLIF((198.27-hc_y), 0))*180/PI()*.75, 67.5) AS spray_angle,
        CASE
            WHEN events IN ('single', 'double', 'triple', 'home_run') THEN 1
            ELSE 0
        END AS hit,
        CASE
            WHEN inning_topbot = 'Top' THEN home_team
            ELSE away_team
        END AS def_team
    FROM statcast
    WHERE type='X' and game_year=2019 and events NOT IN ('field_error', 'fielders_choice')
)
SELECT
    home_team,
    launch_angle,
    launch_speed,
    hit_distance_sc,
    spray_angle,
    hit,
    avg(hit) OVER (PARTITION BY def_team ORDER BY game_date, game_pk, at_bat_number ROWS BETWEEN 149 PRECEDING AND CURRENT ROW) AS hit_rate_wk,
    avg(hit) OVER (PARTITION BY def_team ORDER BY game_date, game_pk, at_bat_number ROWS BETWEEN 749 PRECEDING AND CURRENT ROW) AS hit_rate_mo
    FROM bballs19;
'''

batted_balls3 = pd.read_sql_query(q5, conn)
batted_balls3.head(15)

,home_team,launch_angle,launch_speed,hit_distance_sc,spray_angle,hit,hit_rate_wk,hit_rate_mo
0,LAD,28.5,94.9,363.0,-22.208982,1,1.000000,1.000000
1,LAD,-24.6,48.4,3.0,-20.336267,0,0.500000,0.500000
2,LAD,-4.6,82.4,17.0,27.977480,0,0.333333,0.333333
3,LAD,-20.7,82.9,NaN,28.500541,0,0.250000,0.250000
4,LAD,0.9,111.4,45.0,-15.118108,0,0.200000,0.200000
5,LAD,0.8,102.5,51.0,-7.587612,1,0.333333,0.333333
6,LAD,-39.0,41.0,NaN,23.503822,0,0.285714,0.285714
7,LAD,28.0,104.5,420.0,-0.368349,1,0.375000,0.375000
8,LAD,12.7,79.9,140.0,-31.328242,0,0.333333,0.333333
9,LAD,53.1,88.3,235.0,22.370970,0,0.300000,0.300000
10,LAD,13.2,105.5,298.0,-5.834896,1,0.363636,0.363636
11,LAD,27.2,102.4,404.0,-17.433676,1,0.416667,0.416667
12,LAD,29.4,99.7,403.0,-9.329127,1,0.461538,0.461538
13,LAD,-22.8,84.6,6.0,-14.097224,0,0.428571,0.428571
14,LAD,31.9,103.0,407.0,14.696402,1,0.466667,0.466667

In [62]:
batted_balls3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123875 entries, 0 to 123874
Data columns (total 8 columns):
home_team          123875 non-null object
launch_angle       123872 non-null float64
launch_speed       123872 non-null float64
hit_distance_sc    112783 non-null float64
spray_angle        123875 non-null float64
hit                123875 non-null int64
hit_rate_wk        123875 non-null float64
hit_rate_mo        123875 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 7.6+ MB

In [67]:
q6 = '''
    SELECT
        statcast.launch_angle,
        statcast.launch_speed,
        teams.mlb_id, 
        stadiums.*
    FROM stadiums
    JOIN teams ON stadiums.team = teams.team
    JOIN statcast ON teams.mlb_id = statcast.home_team
    WHERE statcast.type='X' AND game_year=2019 AND events NOT IN ('field_error', 'fielders_choice')
    ORDER BY statcast.game_date, statcast.game_pk, statcast.at_bat_number;
'''

stadiums = pd.read_sql_query(q6, conn)
stadiums.head(10)

,launch_angle,launch_speed,mlb_id,team,fair,foul,lf_ht,cf_ht,rf_ht,lf,lc,cf,rc,rf
0,-23.2,89.7,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
1,14.0,100.8,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
2,29.4,95.2,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
3,53.2,84.9,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
4,49.6,99.5,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
5,15.4,94.5,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
6,-6.2,76.8,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
7,12.1,98.7,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
8,12.2,103.1,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325
9,28.0,92.4,CIN,Cincinnati Reds,106.1,23.6,12,8,8,328,368,404,370,325

In [68]:
stadiums.tail(10)

,launch_angle,launch_speed,mlb_id,team,fair,foul,lf_ht,cf_ht,rf_ht,lf,lc,cf,rc,rf
123865,-27.2,93.0,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123866,-16.6,73.1,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123867,23.0,101.6,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123868,18.4,87.9,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123869,0.2,94.3,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123870,-20.7,82.9,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123871,-24.1,91.3,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123872,-21.0,98.7,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123873,62.9,93.7,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330
123874,26.2,100.2,CWS,Chicago White Sox,105.3,25.0,8,8,8,335,365,400,365,330

In [16]:
conn.dispose()